body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.visImg img {
    max-width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*.d3-tip {
    background: rgba(255,255,255,.9);
    border: 1px solid black;
    padding: 3px;
    max-width: 200px;
}*/

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  border: 1px solid black;
  max-width: 200px;
}

.spread li, .scoreHist li {
    padding: 3px;
    margin: 10px 0 10px 0;
    clear: both;
}

.spread li:hover, .scoreHist li:hover {
    background: #eeeeee;
}

.spreadBar, .scoreBar {
    cursor: pointer;
}

select {
    width: 100%;
}

.spreadVenn .slider-selection {
  background-color: #94adea;
  background-image: none;
}